%h1 Slides on the #{link_to(@sign.title, sign_path(@sign))} Sign
%ol.slots
  -@slots.each do |slot|
    %li(id="slot_#{slot.id}" class="slot")
      %dl
        %dt.title Title
        %dd.title=link_to(slot.slide.title, slide_path(slot.slide))
        %dt.thumbnail Preview
        %dd.thumbnail
          =render(:partial=>'shared/thumbnail', :locals=>{:slide=>slot.slide})
        %dt.status Status
        %dd.status{:class=>slide_status(slot.slide)}=slide_status(slot.slide)
        %dt.actions Actions
        %dd.actions=action_links(slot)
        
=render 'index_aside'
