%h1 Slot
%dl
  %dt Sign
  %dd&=@slot.sign.title
  %dt Slide
  %dd&=@slot.slide.title
  %dt Order
  %dd&=@slot.order
=render(:partial => 'shared/action_links', :locals=>{:object=>@slot, :except=>:view})
