%table
  %caption Recent Slides
  %tr
    %th Slide
    %th Created
    %th.actions Actions
  -@recent_slides.each do |slide|
    %tr
      %td=link_to(slide.title, slide_path(slide))
      %td=slide.created_at.to_s(:short)
      %td=render(:partial=>'shared/action_links', :locals=>{:object=>slide})

-unless @expired_slides.empty?
  %table
    %caption Expired Slides
    %tr
      %th Slide
      %th Expired On
      %th.actions Actions
    -@expired_slides.each do |slide|
      %tr
        %td=link_to(slide.title, slide_path(slide))
        %td=slide.expired_at.try(:to_s, :short)
        %td=render(:partial=>'shared/action_links', :locals=>{:object=>slide})
