%ul.signs
  -@signs.each do |sign|
    %li[sign] 
      %dl
        .title_bar
          %dt.title Title
          %dd.title=link_to(sign.title, sign_slots_path(sign))
        %dt.thumbnail Preview
        %a{ :href=> sign_slots_path(sign)}
          -if sign.slides.count > 0
            %dd.thumbnail=render(:partial=>'shared/thumbnail', :locals=>{:slide=>sign.slides.first})

.clear