%table
  %caption Recent Slides
  %tr
    %th Slide
    %th Created
    %th.actions Actions
  -@recent_slides.each do |slide|
    %tr
      %td=link_to(slide.title, slide_path(slide))
      %td&=slide.created_at.to_s(:short)
      %td=render(:partial=>'shared/action_links', :locals=>{:object=>slide})
%table
  %caption Expired Slides
  %tr
    %th Slide
    %th Expired On
    %th.actions Actions
  -Slide::expired_slides.each do |slide|
    %tr
      %td=link_to(slide.title, slide_path(slide))
      %td&=slide.expired_at.try(:to_s, :short)
      %td=render(:partial=>'shared/action_links', :locals=>{:object=>slide})
%table
  %caption Signs
  %tr
    %th Sign
    %th Active Slides
    %th Content Time
    %th.actions Actions
  -Sign.all.each do |sign|
    %tr
      %td=link_to(sign.title, sign_path(sign))
      %td&=sign.active_slides.length
      %td&=seconds_to_time(sign.active_slides_time)
      %td=render(:partial=>'shared/action_links', :locals=>{:object=>sign})
%table
  %caption Users
  %tr
    %th User
    %th Active Slides
    %th Content Time
    %th.actions Actions
  -User.all.each do |user|
    %tr
      %td=link_to(user.name, user_path(user))
      %td&=user.active_slides.length
      %td&=seconds_to_time(user.active_slides_time)
      %td=render(:partial=>'shared/action_links', :locals=>{:object=>user})
