.search.summary!=page_entries_info(@announcements, :entry_name=>'announcement')

%ol
  -@announcements.each do |announcement|
    -if permitted_to? :index, announcement
      %li.announcement
        !=announcement.announcement
        %span.date=announcement.show_at.to_s(:long)
        %span.small!=render('shared/action_links', :object=>announcement)
        
!=will_paginate(@announcements)
