-content_for(:head) do
  %link{:rel=>'alternate', :type=>'application/rss+xml', :title=>'THI Eval Announcements', :href=>announcements_path(:rss)}

%h2 Announcements

-form_for(@search, :html => { :class => 'search' }) do |f|
  !=f.label(:announcement_like, 'Search')
  !=f.text_field(:announcement_like)
  !=f.submit('Search')
    
.search_results
  !=render('announcements')
  
!=render('index_aside')
