.DS_Store
.htaccess
.bundle
*~
*.cache
*.log
*.pid
config/*.yml
db/data.yml
db/schema.rb
db/*.sqlite3
public/uploads/*
public/slide_content/*
tmp/
tmp/**/*
Vagrantfile
.vagrant
.sass-cache
*.output
blazing.rb
dump.rdb
