-content_for(:head) do
  =javascript_include_tag('colorpicker')
  =stylesheet_link_tag('colorpicker')
=form_for(@slide, :html => {:multipart => true}) do |f|
  %dl
    %dt.title.title=f.label(:title)
    %dd.title=f.text_field(:title)
    %dt.file=f.label(:content)
    %dd.file=f.file_field(:content)
    %dt.parameters Parameters
    %dd.parameters
      %ul#parameters.parameters
        =f.fields_for(:parameters, @slide.parameters) do |f2|
          =render('parameter_fields', :f => f2)
      =link_to_add_fields('Add Parameter', f, :parameters)
    %dt.delay
      =f.label(:delay)
      %small in seconds
    %dd.delay=f.text_field(:delay)
    %dt.resize=f.label(:resize)
    %dd.resize=f.select(:resize, Slide::RESIZE_OPTIONS)
    %dt.color=f.label(:color)
    %dd.color=f.text_field(:color, {:style=>"color:##{@slide.color}; background-color:##{@slide.color};"})
    %dt.published=f.label(:published)
    %dd.published=f.check_box(:published)
    %dt.department=f.label(:department_id, 'Department')
    %dd.department=f.collection_select(:department_id, Department.with_permissions_to(:show), :id, :title)
  .slots
    %h2 Slots
    %table#slots.slots
      %tr
        %th.name Name
        %th.remove Remove
      =f.fields_for(:slots, @slide.slots) do |f2|
        =render('slot_fields', :f => f2)
    =link_to_add_fields('Add Slot', f, :slots)
        
  .schedule
    %h2 Schedule
    %table#schedules.schedules
      %tr
        %th.time Time
        %th.action Action
        %th.remove Remove
      =f.fields_for(:schedules, @slide.sorted_schedules) do |f2|
        =render('schedule_fields', :f => f2)
    =link_to_add_fields('Add Schedule', f, :schedules)
  .buttons=f.submit('Save')
