-content_for(:head) do
  =javascript_include_tag('colorpicker')
  =stylesheet_link_tag('colorpicker')
=form_for(@slide, :html => {:multipart => true}) do |f|
  %dl
    %dt.title.title=f.label(:title)
    %dd.title=f.text_field(:title)
    %dt.file=f.label(:content)
    %dd.file=f.file_field(:content)
    %dt.delay
      =f.label(:delay)
      %small in seconds
    %dd.delay=f.text_field(:delay)
    %dt.resize=f.label(:resize)
    %dd.resize=f.select(:resize, Slide::RESIZE_OPTIONS)
    %dt.color=f.label(:color)
    %dd.color=f.text_field(:color, {:style=>"color:##{@slide.color}; background-color:##{@slide.color};"})
    %dt.published=f.label(:published)
    %dd.published=f.check_box(:published)
    %dt.owner=f.label(:user_id, 'Owner')
    %dd.owner=f.collection_select(:user_id, User.all, :id, :name)
  %h2 Signs
  %ul.signs
    -Sign.all.each do |sign|
      %li
        =check_box_tag(:sign_ids, sign.id, @slide.signs.include?(sign), :name => 'slide[sign_ids][]')
        =label_tag(:sign_ids, sign.title)
  .schedule
    %h2 Schedule
    %table#schedules.schedules
      %tr
        %th.time Time
        %th.action Action
        %th.remove Remove
      =f.fields_for(:schedules, @slide.sorted_schedules) do |f2|
        =render('schedule_fields', :f => f2)
    =link_to_add_fields('Add Schedule', f, :schedules)
  .buttons=f.submit('Save')
