%li[slide]{'data-show-url'=>slide_url(slide)}
  .slide_status= "#{slide_status(slide)}" + (slide.showing? ? " - #{slide.delay}s" : "")

  =link_to slide do
    .preview_wrapper
      -unless slide.published?
        .corner-banner
          unpublished
      =render "shared/thumbnail", slide: slide
      
      .title_bar
        %h4=slide.title