.search.summary
  =page_entries_info(@slides, :entry_name => 'Slide')
  / -unless @slides.num_pages < 2
  /   =link_to('View All', params.merge({:page=>1, :per=>1000}), :class=>:view_all)

%ul.slides
  =render @slides

.endlessScroll=paginate(@slides)
