=form_for(Slide.new, :url => update_multiple_slides_path, :html => { method: :put, multipart: true, class: 'update_multiple_slides', id: 'update_multiple_slides'}) do |f|

  %h2 Bulk editing the following slides:
  %ul.slide_list
    - @slides.each do |slide|
      %li
        =hidden_field_tag "slide_ids[]", slide.id
        =slide.title

  %hr
  %dl
    %dt.delay
      =f.label(:delay)
      %small in seconds
    %dd.delay=f.text_field :delay, value: nil
    %dt.color=f.label(:color)
    %dd.color=f.text_field :color, value: nil
    %dt.publish_at=f.label(:publish_at)
    %dd.publish_at=f.text_field :publish_at, :class => :date, value: nil
    %dt.unpublish_at=f.label(:unpublish_at)
    %dd.unpublish_at=f.text_field :unpublish_at, :class => :date, value: nil
    %dt.department=f.label(:department_id, 'Department')
    %dd.department=f.collection_select(:department_id, Department.with_permissions_to(:show), :id, :title, include_blank: true)

  %hr
  .slots
    %h2 Add Slots
    %em Existing slots will not be removed
    %table#slots.slots
      %tr
        %th.name Name
        %th.remove Remove
    =link_to_add_fields('Add Slot', f, :slots)

  %hr
        
  .schedule
    %h2 Schedule
    %em Existing schedules will not be removed
    %table#schedules.schedules
      %tr
        %th.time Time
        %th.action Action
        %th.remove Remove
    =link_to_add_fields('Add Schedule', f, :schedules)

  .buttons
    =f.submit('Save')
    =cancel_button
