!!! XML
%digitalsignage{:lastupdate=>DateTime.now.to_s(:rfc822)}
  %signs
    -Sign.all.each do |sign|
      %sign{:name=>sign.name, :title=>sign.title, :width=>sign.width, :height=>sign.height, :video=>to_yn(sign.video), :last_check_in=>(sign.last_check_in.nil? ? '' : sign.last_check_in.to_s(:rfc822))}
  %slides
    -@slides.each do |slide|
      -# TODO change starttime and endtime
      %slide{:id=>slide.id, :title=>slide.title, :delay=>slide.delay, :color=>'#'+slide.color, :published=>slide.published, :starttime=>'', :endtime=>''}
        %media{:src=>slide.uri, :type=>slide.type}
        %signs
          -slide.signs.each do |sign|
            %sign{:name=>sign.name}
