%h1 Slides
-form_for @search do |f|
  =f.label :signs_id_eq, 'Sign'
  =f.collection_select :signs_id_eq, Sign.all, :id, :title, {:include_blank=>true}
  =f.label :user_id, 'Owner'
  =f.collection_select :user_id, User.all, :id, :name, {:include_blank=>true}
  =f.label :published
  =f.select :published, [['Published', true], ['Unpublished', false]], {:include_blank=>true}
  =f.submit 'Filter'
%ul.slides
  -@slides.each do |slide|
    %li
      %dl
        %dt.title Title
        %dd.title=link_to(slide.title, slide)
        %dt.thumbnail Preview
        %dd.thumbnail{:style=>"background-color:##{slide.color};"}
          -if slide.image?
            %img{:src=>slide.uri, :alt=>slide.title+' thumbnail'}
          -if slide.swf?
            .swf
              %object{:type=>'application/x-shockwave-flash', :data=>slide.uri, :width=>336, :height=>189}
                %param{:name=>'movie', :value=>slide.uri}
        %dt.status Status
        %dd.status{:class=>slide_status(slide)}&=slide_status(slide)
        %dt.owner Owner
        %dd.owner=link_to(slide.user.name, slide.user)
        %dt.actions Actions
        %dd.actions=render(:partial => 'shared/action_links', :locals=>{:object=>slide})
=render('index_aside')
