%h1 Slides
-form_for(@search, :html=>{:class=>'filter'}) do |f|
  %span.param
    =f.label :signs_id_eq, 'Sign'
    =f.collection_select :signs_id_eq, Sign.all, :id, :title, {:include_blank=>true}
  %span.param
    =f.label :user_id, 'Owner'
    =f.collection_select :user_id, User.all, :id, :name, {:include_blank=>true}
  %span.param
    =f.label :published
    =f.select :published, [['Published', true], ['Unpublished', false]], {:include_blank=>true}
  .buttons=f.submit 'Filter'

.search_results
  =render('slides')

=render('index_aside')
