%h1 Slides
%table
  %tr
    %th Title
    %th File
    %th Status
    %th Owner
  -@slides.each do |slide|
    %tr
      %td=link_to slide.title, slide
      %td=slide.filename
      %td
      %td=link_to slide.user.name, slide.user
=link_to 'New slide', new_slide_path
