%h1 Slides
%table
  %tr
    %th Title
    %th Status
    %th Owner
    %th.actions Actions
  -@slides.each do |slide|
    %tr
      %td=link_to(slide.title, slide)
      %td&=slide_status(slide)
      %td=link_to(slide.user.name, slide.user)
      %td=render(:partial => 'shared/action_links', :locals=>{:object=>slide})
=link_to 'New slide', new_slide_path
