#top-right-link
  -if permitted_to?(:edit, :slides)
    =link_to edit_slide_path, :class=>"google_button" do
      %i.icon-pencil
      Edit Slide
  -if permitted_to?(:destroy, :slides)
    =link_to @slide, :method => "delete", :class=>"google_button", :confirm=> "Are you sure?" do
      %i.icon-trash
      Delete Slide
%h1=@slide.title + ' Slide'
%dl.slide
  -if @slide.image? || @slide.swf?
    %dt.thumbnail Preview
    %dd.thumbnail
      =render(:partial=>'shared/thumbnail', :locals=>{:slide=>@slide})
  
  .details 
    /reduce width so that the content doesn't go behind the preview image
    %dt.url URL
    -unless @slide.url.blank?
      %dd.url=link_to(@slide.url, @slide.url)
    %dt.delay Delay
    %dd.delay=@slide.delay
    %dt.resize Resize
    %dd.resize=@slide.resize
    %dt.color Color
    %dd.color{:style => "color:##{@slide.color}; background-color:##{@slide.color};"}=@slide.color
    %dt.publish_at Publish Date
    %dd.publish_at=@slide.publish_at.try(:to_formatted_s, :long)
    %dt.unpublish_at Unublish Date
    %dd.unpublish_at=@slide.unpublish_at.try(:to_formatted_s, :long) 
    %dt.department Department
    %dd.department=@slide.department
%h2.signs Signs
%ul.signs
  -@slide.signs.each do |sign|
    %li=permitted_to?(:show, sign) ? link_to(sign.title, sign_path(sign)) : sign.title
%h2.schedule Schedule
%ul.schedule
  -@slide.sorted_schedules.each do |schedule|
    %li=schedule

