<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../shared_assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../shared_assets/fontawesome/css/font-awesome.min.css">

  </head>
  <body>
    <body>
      <div class="hero-unit">
      <h1><i class="icon-desktop"></i> Custom Slides</h1>
    </div>
    <div class="container">

      <ul class="breadcrumb">
        <li><a href="../index.html">Custom Slides</a> <span class="divider">/</span></li>
        <li class="active">Widget name</li>
      </ul>


      <!-- Copied from markdown README -->
      <h2>Widget name</h2>

      <p>Short description</p>

      <hr />

      <h3>Parameters</h3>

      <ul>
      <li><strong>parm1</strong> - any details?</li>
      </ul>


      <h3>Example Url</h3>

      <p><code>http://your-url.com/custom_slides/signage_slides/template/?param1=foobar</code></p>

      <p><a href="./index.html">click here to view the slide</a></p>

      <h3>Credits</h3>

      <ul>
      <li>any attributions you need to make?</li>
      </ul>

      <!-- Copied from markdown README -->

    </div>
  </body>
</html>