body.slides.index {
  #page_wrapper { margin: 0; }
  #message_list { padding: 20px 20px 0 20px; }
}

body.slides.show {
  #slide_preview { width: 70%; display: inline-block; vertical-align: top; padding-right: 20px;
    @media (max-width: 768px) { width: 100%; }
  }
  #slide_details { width: 30%; display: inline-block; vertical-align: top;
    @media (max-width: 768px) { width: 100%; margin-top: 20px; }
    .dl-horizontal {
      dt { width: 100px; }
      dd { margin-left: 120px; }
    }
  }
}
body.slides {
  form {
    .remove {
      input.delete { display: none; }
      label.delete { cursor: pointer; }
    }
  }
}





//**********************//
// Shared between pages //
//**********************//

// This gets extended further down.
.show_editable_content { height: 100%; padding: 20px; font-size:60px; line-height: 120%; color: #333;
  p, ul, ol, li, blockquote, code, div { font-size: 60px; line-height: 120%; }
  h1, h2, h3, h4, h5, h6 { line-height: 120%; }
  h1 { font-size:140px }
  h2 { font-size:100px }
  h3 { font-size:80px }
  h4 { font-size:60px }
  h5 { font-size:60px }
  h6 { font-size:60px }
  h1 { text-shadow:0 0 6px rgba(0,0,0,0.2) }
  ol, ul { padding-left: 2em; }
}



#slide-upload-dropzone { min-height: 400px; padding: 20px;
  &.dz-drag-hover { background-color: rgb(186, 226, 253); opacity: 0.5; } // rgb(237, 249, 255); }
  .dz-message { text-align: center; margin-top: 20px; font-weight: bold; }
}

#list_of_slides { list-style: none; margin: 0; padding: 0;
  li.slide { display: inline-block; margin: 10px; position: relative; border: 5px solid transparent;

    &.selected { border: 5px solid #1175AE; opacity: .6;}

    .links { transition: opacity .2s; opacity: 0; z-index: 10; position: absolute; top: 0; right: 0; background-color: rgba(0, 0, 0, 0.8); border: 1px solid rgba(0, 0, 0, 0.8); border-radius: 0 0 0 3px; padding: 0;
      .link { color: white; color: white; text-decoration: none; padding: 5px 10px; display: inline-block;
        &:first-child { border-radius: 0 0 0 3px; }
      }
      .slide_info:hover { background-color: #428bca; }
      .remove_slide:hover { background-color: #d9534f; }
    }

    .title { margin: 0; font-weight: 500; width: 250px;
      .show-link { transition: opacity .2s; opacity: 0;
        a { color: inherit; text-decoration: none; padding: 10px 5px 10px 10px; }
      }
    }

    &:hover {
      .links { transition: opacity .2s; opacity: 1; }
    }
  }
}

#page-spinner { position: fixed; left: 0; top: 0; right: 0; bottom: 0; text-align: center; z-index: 90; background-color: rgba(0,0,0,.8); padding-top: 200px; color: white; font-size: 100px; display: none;
  canvas { position: relative; top: -165px; left: 0px; }
}

#filter_wrapper { position: fixed; width: 100%; z-index: 100; background: white; left: 0; top: 51px; box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
  form { padding: 20px; }
}

.slide_thumbnail, .slide_preview { display: inline-block; position: relative; width: 100%; min-width: 250px;
  &.editor .constraint { background-color: white; }

  .slide_status { position: absolute; top: 2px; left: 4px; z-index: 10 }
  .constraint { background-color: black; width: 100%; padding-top: 56.25%; }
  .element { position: absolute; top: 0; bottom: 0; left: 0; right: 0; text-align: center;

    // For spacing vertically
    &:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }

    img, iframe { max-width: 100%; max-height: 100%; display: inline-block; vertical-align: middle; }

    iframe { width: 100%; height: 100%; border: none;  }


    #editor_container { position: absolute; top: 0;}
    .redactor_box, .custom_html_slide { width: 100%; height: 100%; position: absolute; top: 0; background: none;
      .redactor_editor, .custom_html_slide_content { text-align: left; background: none;
        @extend .show_editable_content;
      }
      .custom_html_slide_content { overflow: hidden; }
    }
  }
}