@import ../includes/settings.sass


// ****************   Slides Index page   ********************  //


body.slides.index

  ul.signs
    margin: 0
    padding-left: 10px
    list-style-type: none



// ****************   Slides Show page   ********************  //


body.slides.show

  dl.slide

    dt.thumbnail
      display: block
      float: right
      width: $thumbnail_width

    dd.thumbnail
      float: right
      clear: right
      width: $thumbnail_width

  dd.url a
    display: block

  dd.delay input, dd.color input
    width: 75px !important
    
  dd.color, dd.color input
    display: block
    width: 75px !important
    height: 30px
    border: solid 1px #666
    cursor: pointer

  ul.signs
    margin: 0
    padding-left: 10px
    list-style-type: none
    
  #contentAside
    .box h2
      color: #000
    div.schedule
      display: none
      
  .details
    width: 280px

// ****************   Slides Edit page   ********************  //
body.slides.edit, body.slides.new
  form
    dd.parameters
      li
        margin: 5px 0
        list-style-type: none
        input[type=text]
          width: 150px

    input.delete
      display: none
    label.delete
      display: inline-block
      width: 16px
      height: 16px
      margin: 0 5px
      padding: 0 !important
      text-indent: 99999px
      overflow: hidden
      background-image: url(delete.png)
      cursor: pointer

    dd.color
      border: none
      cursor: default
    
    a.add_fields
      padding-left: 20px
      background: url(add.gif) no-repeat