!preview_width = 300px
!default_border = solid 1px #123357
!default_border_radius = 0 5px 5px 0

ul.slides
  margin: 0
  padding: 0
  list-style-type: none
  
  li
    position: relative
    min-height: 149px
    margin: 20px 0
    padding: 20px
    text-align: right
    border= !default_border
    background: #D3E1F0
    border-radius= !default_border_radius
    -moz-border-radius= !default_border_radius
    -webkit-border-radius= !default_border_radius
    
  dl
    margin: 0
    padding: 0
    
  dt.title, dt.thumbnail, dt.actions
    display: none !important
    
  dd.title a
    font-size: 18pt
    font-weight: bold
    text-decoration: none

  dd.title a:hover
    text-decoration: underline

  dd.thumbnail
    position: absolute
    margin: 0
    padding: 0
    top: 0
    left: 0
    width: 336px
    height: 189px
    text-align: center
    border-right= !default_border

  dd.thumbnail img, dd.thumbnail .swf
    width: auto
    height: auto
    max-width: 336px
    max-height: 189px
    border: none

  dd.actions span.actions
    position: absolute
    right: 10px
    bottom: 10px
    border: none

dt.thumbnail
  display: block
  float: right !important
  width= !preview_width

dd.thumbnail img, dd.thumbnail .swf
  float: right
  clear: right
  width= !preview_width
  margin: 0 0 10px 10px
  padding: 1px
  border= !default_border

dd.url a
  display: block

dd.delay input, dd.color input
  width: 75px !important
  
dd.color, dd.color input
  display: block
  width: 75px !important
  height: 30px
  border: solid 1px #666
  cursor: pointer
  
form dd.color
  border: none
  cursor: default
  
ul.signs
  margin: 0
  padding-left: 10px
  list-style-type: none
  
#contentExtra
  .box h2
    color: #000
  div.schedule
    display: none
