body{
background:#81A0DF url(https://dropbox.biola.edu/styles/images/contentbg.png) 0 0 repeat-x;
}

#content a:hover{
color:#8DC422;
}

#content dt{
display:block;
float:none;
margin-top:10px;
font-weight:bold;
color:#000;
}

#content div.buttons{
padding:5px;
text-align:right;
border-top:solid 1px #a2a2a2;
}

.nowrap{
white-space:nowrap;
}

dd.updated{
padding-left:20px;
font-style:italic;
background:url(../images/new.png) no-repeat left center;
}

/* HEADER */
#content_header{
color:#333;
}

#content_header a:visited{
color:#333;
}

#content_header h1{
font-size:3em;
margin:0;
}

#content_header h1 a{
text-decoration:none;
}

/* PRIMERS */
#primer{
padding:10px 0 10px;
}

#primer p{
font-size:1.0em;
margin-left:10px;
margin-bottom:10px;
}

#primer .box{
display:block;
background-color:rgb(255,255,200);
margin:10px;
padding:10px;
border:1px rgb(220,220,150) solid;
}

#primer .box h2{
margin-top:5px;
text-align:center;
}

#primer .box h2 a{
color: rgb(0,0,150);
text-decoration: underline;
}

#primer .box ul{
margin: 5px 0 10px 0;
}

#primer .box ul li{
font-size: 1.1em;
margin-bottom: 5px;
}

/* TABLES */
table{
margin-bottom:2em;
border-collapse:collapse;
width:100%;
clear:both;
color:#333;
}

table tfoot{
border-top:1px solid #BBB;
border-bottom:1px solid #BBB;
}

table tfoot th, table tfoot td{
padding-top:8px;
}

table tfoot th{
color:#000;
text-transform:none;
border:none;
}

td, th{
font:1.1em/1.2 Helvetica, Arial, sans-serif;
vertical-align:top;
padding:4px 8px;
}

th{
padding: 6px 6px 6px 12px;
color: #648B9C;
text-align:left;
text-transform: uppercase;
font-weight:bold;
border-top:1px solid #BBB;
border-bottom:1px solid #BBB;
}

td.name {
white-space:nowrap;
}

th.rating, td.rating{
text-align:center;
}

th a:link {
color: #648B9C;
}

tr a:visited{
color: #327FCC;
}

tr{
padding: 6px 6px 6px 12px;
}

tr.odd{
background-color: #DDD;
color: #6D9AAF;
}

tr.even{
background-color: #F5FAFA;
color: #666;
}

/* NAVIGATION */
#navigation ul{
margin:0;
padding:0 5px;
list-style:none;
height:40px;
}

#navigation li{
display:inline-block;
text-align:center;
margin-right:20px;
height: 40px;
}

#navigation li.active{
background: url(../images/navselect_white.png) 50% 100% no-repeat;
}

#navigation a{
font:bold 15px "Helvetica Neue",Arial,Helvetica,sans-serif;
color:#fff;
display:block;
height:40px;
text-align:center;
/*text-transform:uppercase;*/
text-decoration: none;
}

#navigation a#nav_dashboard {
color: #81765B;
}

#navigation a#nav_admin{
color: #141E36;
}

#navExtra a{
color: #c8b37e;
}

#nav_announcements{
background:url(../images/announcement.png) no-repeat 10px;
}

/* MESSAGES */
#wrapperMessage{
float:none;
margin:0 auto;
width:940px;
background: transparent;
}

#wrapperMessage ul, #announcements ol{
padding:0;
margin:0;
}

#wrapperMessage li:first-child{
margin-top:40px;
}

#wrapperMessage li, #announcements li.announcement{
position:relative;
margin:5px 0;
padding:5px 5px 5px 32px;
list-style-type:none;
text-align:left;
border: solid 1px #F6A670;
background:#FFEFAA no-repeat 5px center;
background-image:url(../images/message_block/info_m.gif)
}

#announcements ol{
margin:20px 0;
}

#announcements li.announcement{
background-image:url(../images/announcement.png);
}

li.announcement .date{
color:#666;
font-style:italic;
}

li.announcement .actions{
position:absolute;
right:5px;
bottom:5px;
}

#wrapperMessage ul.notice li{
background-image:url(../images/message_block/notice_m.gif);
}

#wrapperMessage ul.confirmation li{
background-image:url(../images/message_block/confirmation_m.gif);
}

#wrapperMessage ul.warn li{
background-image:url(../images/message_block/vals_m.gif);
}

#wrapperMessage ul.error li{
background-image:url(../images/message_block/error_m.gif);
}

/* COMMENTS */
td.comment{
position:absolute;
}

td.comment p{
position:relative;
width:50px;
margin:0;
padding:0 0 0 20px;
font-size:9pt;
white-space:nowrap;
background:url(../images/comment.png) no-repeat;
overflow:hidden;
}

td.comment p:hover{
position:absolute;
z-index:100;
top:-6px;
left:-2px;
width:200px;
margin:0;
padding:10px 10px 10px 30px;
background:url(../images/comment.png) no-repeat 10px 10px;
background-color:#FDFD9F;
cursor:default;
white-space:normal;
-webkit-border-radius: 8px; -moz-border-radius: 8px;
}

/* BUTTONS */
#contentExtra .button{
display:block;
color:#555555;
font-weight:bold;
height:30px;
line-height:29px;
margin-bottom:4px;
text-decoration:none;
width:191px;
-webkit-border-radius: 8px; -moz-border-radius: 8px;
background-color:#FDFD9F;
border:1px solid #EDED9F;
}

#contentExtra a:hover.button{
color:#0066CC;
background-color: #EDED9F;
}

/* PAGINATION */
.pagination a, .pagination span{
padding:3px 7px;
color:#fff;
text-decoration:none;
background:#327FCC;
}

.pagination a.disabled, .pagination span.disabled{
color:#a2a2a2;
border:solid 1px #a2a2a2;
background:transparent;
}

.pagination a:hover, .pagination .current{
color:#fdfd9f !important;
background-color:#293e6d;
}

/* EMPHASIZED NUMBERS */
em.number {
color: #fff;
line-height: 100%;
font-weight: bold;
font-style:normal;
padding: 2px 8px;
-webkit-border-radius: 2px; -moz-border-radius: 2px;
background-color: #5596C4;
text-align: center;
}

#contentExtra em.number {
display: block;
float: left;
margin-right: 10px;
}

/* ACTION BUTTONS */
th.actions{
text-indent:-99999px;
}

span.actions{
display:block;
clear:both;
margin-top:10px;
padding-top:10px;
text-align:right;
border-top:solid 1px #a2a2a2;
}

a.view, a.edit, a.delete, a.sort{
padding:0 10px 0 20px;
font-weight:bold;
text-decoration:none;
line-height:16px;
background-position:top left;
background-repeat:no-repeat;
}

td span.actions, .small span.actions{
float:right;
clear:none;
margin:0;
padding:0;
border-top:none;
}

td a.view, td a.edit, td a.delete, td a.sort,
.small a.view, .small a.edit, .small a.delete, .small a.sort{
display:block;
float:left;
width:16px;
height:16px;
margin:0 5px;
padding:0;
text-indent:99999px;
overflow:hidden;
}

a.view{
background-image:url(../images/view.png);
}

a.edit{
background-image:url(../images/edit.png);
}

a.delete{
background-image:url(../images/delete.png);
}

a.sort{
background-image:url(../images/sort.png);
}

/* SIDEBAR */
#contentExtra h2{
font:bold 92% "Helvetica Neue",Arial,Helvetica,sans-serif;
color:#fff;
text-transform:uppercase;
margin-bottom:10px;
}

#contentExtra .box { 
position:relative;
margin-bottom:8px;
padding:10px;
color:#000;
background:#fdfd9f;
-webkit-border-radius: 8px; -moz-border-radius: 8px;
}

#contentExtra .box h3{
display:block;
margin-bottom:10px;
padding-left:20px;
font-size:10pt;
background-position:left center;
background-repeat:no-repeat;
}

#contentExtra .box h3.import{
background-image: url(../images/upload.gif);
}

#contentExtra .box h3.add{
background-image: url(../images/add.gif);
}

#contentExtra .box a.cancel{
display:block;
text-align:right;
}

#contentExtra input[type=text],
#contentExtra select,
#contentExtra textarea{
width:250px;
}

#contentExtra textarea{
height:150px;
}

#contentExtra input[type=text].date{
width:225px;
}

#contentExtra div.buttons{
text-align:left;
border-top:none;
}

ul.stacked {
line-height: 130%;
list-style: none;
margin: 0px;
padding: 0px;
}

ul.stacked li {
border-top:1px solid #ccc;
position: relative;
padding: 8px;
color: #fff;
}

ul.stacked li a:hover{
background-color: #ccc;
}

.side_block {
color: #fff;
margin-bottom: 18px;
}

/* SEARCH FORM */
#content form.search{
float:right;
clear:both;
padding-bottom:15px;
text-align:right;
}

#content form.search label{
display:block;
float:left;
width:24px;
height:24px;
text-indent:9999px;
overflow:hidden;
background:url(../images/view.png);
background-position:center;
background-repeat:no-repeat;
}

#content form.search input[type=text]{
float:left;
}

#content form.search.searching label{
background-image:url(../images/spinner.gif);
}

/* FILTER FORM */
form.filter span.param{
float:left;
width:180px;
padding:5px;
}

form.filter label{
display:block;
font-weight:bold;
}

form.filter input[type=text], form.filter select{
width:100%;
}

form.filter div.buttons{
clear:both;
text-align:right;
border-top:none !important;
}

form.filter div.buttons input{
padding:2px 30px;
}

/* FOOTER */
#legal{
color:#141e36 !important;
}

#footer a{
color:#fff !important;
}
