* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  margin: 0;
  font: 9pt Helvetica, Arial, sans-serif;
  background: #81a0df url(../images/contentbg.png) 0 0 repeat-x; }

h1 {
  height: 1.6em;
  margin: 0 0 22px;
  font: normal 2.8em/1.3 "Palatino", "Palatino Linotype", Georgia, serif;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  color: #333333; }

h2 {
  margin: 0.5em 0 0.4em 0;
  font: 2em/1.2 "Palatino", "Palatino Linotype", Georgia, serif;
  color: #333333; }

h3 {
  margin: 0 0 0.4em 0;
  font: 1.4em/1.2 Helvetica, Arial, sans-serif;
  color: #333333; }

h4 {
  margin: 0 0 0.4em 0;
  font: 1.3em/1.2 Helvetica, Arial, sans-serif;
  color: #666666; }

caption {
  margin: 0 0 1px 0;
  padding: 0.4em 0;
  font: 1.6em/1.4 "Palatino", "Palatino Linotype", Georgia, serif;
  text-align: left; }

hr {
  margin: 10px 0;
  border-style: solid none none none;
  border-color: #cccccc;
  border-width: 1px; }

img {
  border: none; }

a:link {
  color: #327fcc; }
a:visited {
  color: #293e6d; }
a:hover {
  color: #992211; }
a:active {
  color: black; }

dt {
  font-weight: bold; }

dd {
  margin: 0;
  padding: 0; }

fieldset {
  margin-bottom: 30px;
  padding: 20px;
  border: dashed 1px #cccccc;
  -moz-border-raidus: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  fieldset legend {
    padding: 0 5px;
    color: #888888;
    font-size: 13pt;
    text-align: right; }

input[type=text], input[type=password], textarea {
  color: black;
  border: solid 1px #123357;
  border-top-color: #666666;
  background-color: white;
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2); }

.fieldWithErrors input[type=text], .fieldWithErrors input[type=password], .fieldWithErrors textarea {
  border-color: #cd4a15;
  background: #f0d8cf; }

input.date[type=text] {
  background: url(../images/calendar.png) no-repeat right center white; }

button, input[type=submit], a.button {
  background: #59852d url(../images/button_overlay.png) repeat-x;
  display: inline-block;
  margin: 0;
  padding: 6px 24px 7px 24px;
  color: white;
  text-align: left;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border: 0 none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  -moz-border-raidus: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
  button[disabled=disabled], input[type=submit][disabled=disabled], a.button[disabled=disabled] {
    background-color: #999999; }
    button[disabled=disabled]:hover, input[type=submit][disabled=disabled]:hover, a.button[disabled=disabled]:hover {
      background-color: #999999;
      cursor: default; }
  button:hover, input[type=submit]:hover, a.button:hover {
    background-color: #111111;
    color: white; }
  button:active, input[type=submit]:active, a.button:active {
    top: 1px; }

/* ACTIONS */
ul.actions {
  display: block;
  clear: both;
  margin-top: 10px;
  padding-top: 10px;
  text-align: right;
  border-top: solid 1px #a2a2a2;
  list-style-type: none; }
  ul.actions li {
    display: inline; }
    ul.actions li a {
      padding: 0 10px 1px 20px;
      font-weight: bold;
      text-decoration: none;
      line-height: 16px;
      background-position: top left;
      background-repeat: no-repeat; }
      ul.actions li a.show {
        background-image: url(../images/view.png); }
      ul.actions li a.edit {
        background-image: url(../images/edit.png); }
      ul.actions li a.destroy {
        background-image: url(../images/delete.png); }
      ul.actions li a.auto_update {
        background-image: url(../images/reload.png); }

.small ul.actions a.show, .small ul.actions a.edit, .small ul.actions a.destroy {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  padding: 0 !important;
  text-indent: 99999px;
  overflow: hidden; }

td ul.actions, .small ul.actions {
  float: right;
  clear: none;
  margin: 0;
  padding: 0;
  border-top: none;
  list-style-type: none; }

td a.show, td a.edit, td a.destroy {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  padding: 0 !important;
  text-indent: 99999px;
  overflow: hidden; }

em.number {
  color: white;
  line-height: 100%;
  font-weight: bold;
  font-style: normal;
  padding: 2px 8px;
  background-color: #5596c4;
  text-align: center;
  -moz-border-raidus: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

#contentAside em.number {
  display: block;
  float: left;
  margin-right: 10px; }

.hidden {
  display: none; }

.clear {
  height: 1px;
  width: 100%;
  clear: both; }

.nowrap {
  white-space: nowrap; }

ul.admin.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000;
  padding: 4px 10px;
  list-style-type: none;
  background: rgba(0, 0, 0, 0.7);
  -moz-border-raidus: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
  ul.admin.menu li, ul.admin.menu a {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 0;
    white-space: nowrap;
    background-repeat: no-repeat;
    overflow: hidden; }
  ul.admin.menu li {
    margin: 0 10px; }
  ul.admin.menu a {
    padding: 0 0 0 16px; }
    ul.admin.menu a.users {
      background-image: url(../images/users.png); }
    ul.admin.menu a.access {
      background-image: url(../images/access.png); }
    ul.admin.menu a.analytics {
      background-image: url(../images/pie_chart.png); }
    ul.admin.menu a.performance {
      background-image: url(../images/time.png); }
    ul.admin.menu a.database {
      background-image: url(../images/database.png); }
    ul.admin.menu a.configuration {
      background-image: url(../images/settings.png); }

#wrapper {
  position: relative;
  min-height: 100%; }

#wrapperHeader {
  float: none; }

#wrapperTitle {
  position: relative;
  height: 68px;
  background: #21335a url(../images/wrappertitlebg.png) 0 0 repeat-x;
  border-top: 7px solid #1d1309;
  border-bottom: 3px solid #141e36;
  min-width: 940px;
  -moz-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2); }
  #wrapperTitle #siteTitle a {
    display: block;
    height: 0;
    width: 460px;
    padding-top: 68px;
    overflow: hidden;
    float: left;
    background: 10px 10px no-repeat;
    background-image: url(../images/apps-logo.png);
    margin-right: 180px; }
  #wrapperTitle #branding {
    float: left;
    height: 65px;
    padding: 0 80px 0 10px;
    margin: 0 auto;
    width: auto;
    position: relative; }
  #wrapperTitle #profile {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 20px;
    font: 12px/30px Helvetica, Arial, sans-serif;
    background-color: #141e36;
    -moz-border-raidus: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0; }
    #wrapperTitle #profile a {
      padding: 0 5px;
      text-decoration: none; }
    #wrapperTitle #profile a.name {
      padding-left: 20px;
      color: #7493d1;
      background: url(../images/user.png) no-repeat; }
    #wrapperTitle #profile a.logout {
      color: white; }
  #wrapperTitle #navAside {
    position: absolute;
    top: 84px;
    right: 0;
    margin-left: 0;
    width: 350px;
    color: #c8b37e; }
    #wrapperTitle #navAside li {
      list-style: none;
      float: right; }
      #wrapperTitle #navAside li a {
        padding-left: 18px;
        padding-right: 20px;
        color: #b9c0d3;
        font-size: 12px;
        line-height: 16px;
        text-decoration: none;
        background-repeat: no-repeat; }
        #wrapperTitle #navAside li a:hover {
          color: #fdfd9f; }
      #wrapperTitle #navAside li.announcements a {
        background-image: url(../images/announcement_bw.png); }
      #wrapperTitle #navAside li.announcements a:hover {
        background-image: url(../images/announcement.png); }
      #wrapperTitle #navAside li.documents a {
        background-image: url(../images/documents_bw.png); }
      #wrapperTitle #navAside li.documents a:hover {
        background-image: url(../images/documents.png); }
      #wrapperTitle #navAside li.feedback a {
        background-image: url(../images/comments_bw.png); }
      #wrapperTitle #navAside li.feedback a:hover {
        background-image: url(../images/comments.png); }

ul#messages {
  margin: 20px 0 0 0;
  padding: 5px 20px;
  border-top: dashed #cccccc 1px;
  border-bottom: dashed #cccccc 1px;
  background-color: #eaeaea;
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.12); }
  ul#messages > li {
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 5px 10px 5px 37px;
    list-style-type: none;
    text-align: left;
    border: solid 1px #f6a670;
    background: #ffefaa no-repeat 10px center;
    background-image: url(../images/info.gif);
    -moz-border-raidus: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.12); }
    ul#messages > li.notice {
      background-image: url(../images/notice.gif); }
    ul#messages > li.announce {
      display: block;
      padding-top: 20px;
      padding-bottom: 20px;
      background-image: url(../images/announcement.png); }
    ul#messages > li.confirmation {
      background-image: url(../images/confirmation.gif); }
    ul#messages > li.warn, ul#messages > li.alert {
      background-image: url(../images/warn.gif); }
    ul#messages > li.error {
      background-image: url(../images/error.gif); }

#wrapperPage {
  padding-bottom: 150px; }
  #wrapperPage #page {
    float: none;
    margin: 0px auto;
    padding: 20px 0;
    width: 960px;
    text-align: left; }
  #wrapperPage table {
    margin-bottom: 2em;
    border-collapse: collapse;
    width: 100%;
    clear: both; }
    #wrapperPage table tr {
      padding: 6px;
      background-color: #e3e9f2; }
      #wrapperPage table tr:nth-of-type(odd) td {
        background-color: #d2dbec; }
      #wrapperPage table tr th {
        vertical-align: top;
        padding: 6px 6px 6px 12px;
        text-align: left;
        font-weight: bold;
        color: #d2dbec;
        background-color: #21335a;
        -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
        #wrapperPage table tr th.actions {
          text-indent: -9999px; }
        #wrapperPage table tr th a:link {
          color: #d2dbec; }
        #wrapperPage table tr th.rating, #wrapperPage table tr th.rating {
          text-align: center; }
        #wrapperPage table tr th.actions {
          text-indent: -99999px; }
      #wrapperPage table tr td {
        font: 1.1em/1.2 Helvetica, Arial, sans-serif;
        vertical-align: top;
        padding: 4px 8px; }
        #wrapperPage table tr td.name {
          white-space: nowrap; }
        #wrapperPage table tr td.comment {
          position: absolute; }
          #wrapperPage table tr td.comment p {
            position: relative;
            width: 50px;
            margin: 0;
            padding: 0 0 0 20px;
            font-size: 9pt;
            white-space: nowrap;
            background: url(../images/comment.png) no-repeat;
            overflow: hidden; }
            #wrapperPage table tr td.comment p:hover {
              position: absolute;
              z-index: 100;
              top: -6px;
              left: -2px;
              width: 200px;
              margin: 0;
              padding: 10px 10px 10px 30px;
              background: url(../images/comment.png) no-repeat 10px 10px;
              background-color: #fdfd9f;
              cursor: default;
              white-space: normal;
              -moz-border-raidus: 8px;
              -webkit-border-radius: 8px;
              border-radius: 8px; }
    #wrapperPage table tfoot {
      border-top: 1px solid #bbbbbb;
      border-bottom: 1px solid #bbbbbb; }
      #wrapperPage table tfoot th, #wrapperPage table tfoot td {
        padding-top: 8px; }
      #wrapperPage table tfoot th {
        color: black;
        text-transform: none;
        border: none; }
  #wrapperPage #navigation ul {
    margin: 0;
    padding: 0 5px;
    list-style: none;
    height: 40px; }
  #wrapperPage #navigation li {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    height: 40px; }
    #wrapperPage #navigation li.active {
      background: url(../images/navselect_white.png) 50% 100% no-repeat; }
  #wrapperPage #navigation a {
    font: bold 15px Helvetica, Arial, sans-serif;
    color: white;
    display: block;
    height: 40px;
    text-align: center;
    text-decoration: none; }
  #wrapperPage #wrapperContent {
    background: white;
    float: left;
    margin-right: 20px;
    position: relative;
    width: 660px;
    -moz-border-raidus: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5); }
  #wrapperPage #content {
    padding: 20px; }
    #wrapperPage #content a:hover {
      color: #8dc422; }
    #wrapperPage #content dt {
      margin-top: 10px;
      font-weight: bold; }
    #wrapperPage #content dd.updated {
      padding-left: 20px;
      font-style: italic;
      background: url(../images/new.png) no-repeat left center; }
    #wrapperPage #content div.buttons {
      margin-top: 10px;
      padding: 5px;
      text-align: right;
      border-top: solid 1px #a2a2a2; }
    #wrapperPage #content .pagination a, #wrapperPage #content .pagination span {
      padding: 3px 7px;
      color: white;
      text-decoration: none;
      background: #327fcc; }
    #wrapperPage #content .pagination a:hover, #wrapperPage #content .pagination .current {
      color: #fdfd9f !important;
      background-color: #293e6d; }
    #wrapperPage #content .pagination a.disabled, #wrapperPage #content .pagination span.disabled {
      color: #a2a2a2;
      border: solid 1px #a2a2a2;
      background: transparent; }
    #wrapperPage #content .search.summary {
      clear: both;
      margin-bottom: 10px;
      color: #666666;
      text-align: right; }
      #wrapperPage #content .search.summary .view_all {
        padding-left: 20px; }
    #wrapperPage #content form.search {
      float: right;
      clear: both;
      padding-bottom: 15px;
      text-align: right; }
      #wrapperPage #content form.search label {
        display: block;
        float: left;
        width: 24px;
        height: 24px;
        text-indent: 9999px;
        overflow: hidden;
        background: url(../images/view.png);
        background-position: center;
        background-repeat: no-repeat; }
      #wrapperPage #content form.search input[type=text] {
        float: left; }
      #wrapperPage #content form.search.searching label {
        background-image: url(../images/spinner.gif); }
    #wrapperPage #content form.filter fieldset {
      position: relative;
      clear: both;
      width: 100%;
      margin: 10px 0 10px -20px;
      padding: 10px 20px;
      border: 1px #cccccc;
      border-style: dashed none;
      background-color: #eaeaea;
      overflow: hidden;
      -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12); }
      #wrapperPage #content form.filter fieldset legend {
        position: absolute;
        right: 20px;
        bottom: -2px;
        color: #cccccc;
        font-size: 14pt;
        font-weight: bold;
        line-height: 14pt; }
    #wrapperPage #content form.filter span.param {
      float: left;
      width: 180px;
      padding: 5px; }
    #wrapperPage #content form.filter label {
      display: block;
      font-weight: bold; }
    #wrapperPage #content form.filter input[type=text], #wrapperPage #content form.filter select {
      width: 100%; }
    #wrapperPage #content form.filter div.buttons {
      clear: both;
      text-align: right;
      border-top: none !important; }
      #wrapperPage #content form.filter div.buttons input {
        padding: 2px 30px; }
  #wrapperPage #contentAside {
    float: left;
    padding-top: 20px;
    position: relative;
    width: 270px; }
    #wrapperPage #contentAside h2 {
      font: bold 92% Helvetica, Arial, sans-serif;
      color: white;
      text-transform: uppercase;
      margin-bottom: 10px; }
    #wrapperPage #contentAside h3 {
      display: block;
      margin-bottom: 10px;
      padding-left: 20px;
      font-weight: bold;
      font-size: 10pt;
      background-position: left center;
      background-repeat: no-repeat; }
      #wrapperPage #contentAside h3.import {
        background-image: url(../images/upload.gif); }
      #wrapperPage #contentAside h3.add {
        background-image: url(../images/add.gif); }
      #wrapperPage #contentAside h3.view {
        background-image: url(../images/view.png); }
      #wrapperPage #contentAside h3 a {
        color: #444444;
        text-decoration: none; }
    #wrapperPage #contentAside .box {
      position: relative;
      margin-bottom: 8px;
      padding: 10px;
      color: black;
      background: #fdfd9f;
      -moz-border-raidus: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      -moz-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
      box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5); }
      #wrapperPage #contentAside .box a.cancel {
        display: none; }
    #wrapperPage #contentAside input[type=text], #wrapperPage #contentAside select {
      width: 250px; }
    #wrapperPage #contentAside textarea {
      width: 250px;
      height: 150px; }
    #wrapperPage #contentAside input[type=text].date {
      width: 225px; }
    #wrapperPage #contentAside div.buttons {
      margin-top: 10px;
      text-align: right;
      border-top: none; }
    #wrapperPage #contentAside ul.stacked {
      line-height: 130%;
      list-style: none;
      margin: 0px;
      padding: 0px; }
      #wrapperPage #contentAside ul.stacked li {
        border-top: solid 1px #123357;
        position: relative;
        padding: 8px;
        color: white; }
        #wrapperPage #contentAside ul.stacked li a:hover {
          background-color: #cccccc; }
    #wrapperPage #contentAside .side_block {
      color: white;
      margin-bottom: 18px; }
    #wrapperPage #contentAside ul.documents {
      margin: 0;
      padding: 0;
      list-style-type: none; }
    #wrapperPage #contentAside ul.documents li a {
      padding-left: 18px;
      color: #c8b37e;
      text-decoration: none;
      line-height: 16px;
      background: url(../images/help.png) left center no-repeat; }
  #wrapperPage #pageFooter {
    clear: both; }

#wrapperBiolaFooter {
  position: absolute;
  bottom: 0; }
  #wrapperBiolaFooter a.developer {
    overflow: hidden;
    width: 99px;
    height: 22px;
    background: url(../images/it_logo_light.png) 0px 0px no-repeat;
    text-indent: 500px;
    line-height: 200px;
    position: absolute;
    right: 5px;
    bottom: 5px; }
