div.thumbnail {
  margin: 0;
  padding: 0;
  width: 336px;
  height: 189px;
  text-align: center; }

div.thumbnail.video {
  background-image: url(../images/video_thumbnail.jpg); }

div.thumbnail img, div.thumbnail .swf {
  width: auto;
  height: auto;
  max-width: 336px;
  max-height: 189px;
  border: none; }

ul.signs {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.signs > li {
    border: 8px solid black;
    background: black;
    position: relative;
    min-height: 189px;
    text-align: right;
    width: 336px;
    float: left;
    margin: 10px;
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); }
    ul.signs > li dl .title_bar {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      /* Firefox */
      -moz-transition-property: opacity;
      -moz-transition-duration: 0.1s;
      -moz-transition-delay: 0s;
      /* WebKit */
      -webkit-transition-property: opacity;
      -webkit-transition-duration: 0.1s;
      -webkit-transition-delay: 0s;
      /* Opera */
      -o-transition-property: opacity;
      -o-transition-duration: 0.1s;
      -o-transition-delay: 0s;
      /* Standard */
      transition-property: opacity;
      transition-duration: 0.1s;
      transition-delay: 0s;
      width: 336px;
      background-color: rgba(1, 1, 1, 0.8);
      text-align: center; }
      ul.signs > li dl .title_bar dd {
        padding: 3px; }
        ul.signs > li dl .title_bar dd a {
          color: white; }
  ul.signs dl, ul.signs dd {
    margin: 0;
    padding: 0; }
  ul.signs dt.title, ul.signs dt.thumbnail, ul.signs dt.actions {
    display: none !important; }
  ul.signs dd.title a {
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none; }
  ul.signs dd.title a:hover {
    text-decoration: underline; }
  ul.signs div.thumbnail {
    border-top: none;
    border-bottom: none;
    border-left: none;
    position: relative; }
  ul.signs dd.actions ul.actions {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    /* Firefox */
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.1s;
    -moz-transition-delay: 0s;
    /* WebKit */
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-delay: 0s;
    /* Opera */
    -o-transition-property: opacity;
    -o-transition-duration: 0.1s;
    -o-transition-delay: 0s;
    /* Standard */
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-delay: 0s;
    border: none;
    width: 336px;
    background-color: rgba(250, 250, 250, 0.8);
    text-align: right;
    padding: 5px 0; }

ul.signs > li:hover dl .title_bar {
  opacity: 1;
  /* Firefox */
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.2s;
  -moz-transition-delay: 0s;
  /* WebKit */
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
  /* Opera */
  -o-transition-property: opacity;
  -o-transition-duration: 0.2s;
  -o-transition-delay: 0s;
  /* Standard */
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-delay: 0s; }
ul.signs > li:hover dl dd.actions ul.actions {
  opacity: 1;
  /* Firefox */
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.2s;
  -moz-transition-delay: 0s;
  /* WebKit */
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
  /* Opera */
  -o-transition-property: opacity;
  -o-transition-duration: 0.2s;
  -o-transition-delay: 0s;
  /* Standard */
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-delay: 0s; }

#wrapper #wrapperPage #page.dashboard #wrapperContent {
  margin: 10px;
  background: none;
  float: none;
  width: auto;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
