#gsfn_list_widget h2 a {
  padding-left: 20px;
  line-height: 20px;
  font-size: 13px;
  background: url(../images/help.png) left center no-repeat; }
#gsfn_list_widget a {
  color: white;
  text-decoration: none; }
  #gsfn_list_widget a:hover {
    text-decoration: underline; }
#gsfn_list_widget ul {
  padding: 0;
  margin: 10px 0;
  color: white;
  list-style-type: none; }
  #gsfn_list_widget ul li {
    position: relative;
    padding: 5px 70px 5px 0;
    margin: 0;
    border-top: solid 1px #cccccc; }
    #gsfn_list_widget ul li a {
      color: #fdfd9f;
      font-weight: bold;
      text-decoration: none; }
    #gsfn_list_widget ul li .time {
      position: absolute;
      display: block;
      right: 0;
      top: 5px;
      width: 70px;
      height: 100%;
      font-size: 8pt;
      color: #cccccc;
      text-align: right;
      font-style: italic; }
