.info.config #wrapperConfig {
  padding-bottom: 20px;
  overflow: auto; }
  .info.config #wrapperConfig dt, .info.config #wrapperConfig dd, .info.config #wrapperConfig li {
    font-family: monospace; }
  .info.config #wrapperConfig dt {
    margin: 0 !important; }
  .info.config #wrapperConfig dd {
    padding-left: 20px; }
