/* $Id: main.css 781 2009-09-25 07:41:35Z davidb95 $ */
 
@import url(biola/global.css); .ui-widget-content { background: white; } 
 
img { border: 0px; }
 
.ui-widget { font-family: "Helvetica Neue", Arial, Helvetica,sans-serif; font-size: 8pt; }
.ui-dialog-titlebar { background: rgb(33, 51, 90); border: 1px solid rgb(20, 30, 54); color: white; } 
.ui-state-hover { font-weight: normal; border: 0px; font-size: 11px; }
 
.bigbutton { text-transform: uppercase; background: #8DC422 url(../images/button_overlay.png) 0 100% repeat-x; display: inline-block; width: auto; padding: 8px 25px 9px; color: #FFF; text-decoration: none; font-weight: normal; font-size: 14px; line-height: 1; -moz-border-radius: 15px; -webkit-border-radius: 15px; margin: 0 0.6em; border: 0; position: relative; cursor: pointer; }
.bigbutton:hover { text-transform: uppercase; background: #688F1B url(../images/button_overlay.png) 0 100% repeat-x; display: inline-block; width: auto; padding: 8px 25px 9px; color: #FFF; text-decoration: none; font-weight: normal; font-size: 14px; line-height: 1; -moz-border-radius: 15px; -webkit-border-radius: 15px; margin: 0 0.6em; border: 0; position: relative; cursor: pointer; }
.bigbutton:active { text-transform: uppercase; background: #3B520F url(../images/button_overlay.png) 0 100% repeat-x; display: inline-block; width: auto; padding: 8px 25px 9px; color: #FFF; text-decoration: none; font-weight: normal; font-size: 14px; line-height: 1; -moz-border-radius: 15px; -webkit-border-radius: 15px; margin: 0 0.6em; border: 0; position: relative; cursor: pointer; }
 
.shadowed { filter: Shadow(Color=#000000, Direction=135, Strength=3); -moz-box-shadow: 0 3px 3px #000; -webkit-box-shadow: rgb(0, 0, 0) 0px 3px 3px; }
.hidden { display: none; }
.field-edit-instructions { font-style: italic; color: gray; font-size: 8pt; padding-left: 10px; }
span.field-edit-instructions a { font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif; color: black; text-decoration: underline; font-size: 8pt; }
 
#useraccounts-wrapper { border: 1px solid #123357; padding: 5px; font-size: 9pt; color: #123357; background: #D3E1F0; margin-bottom: 10px; -webkit-border-radius: 6px; -moz-border-radius: 6px; }
 
/* main layout */
#wrapperHeader { float: none; }
#wrapperTitle
{
	overflow: hidden;
	height: 68px;
	background: #21335A url(https://dropbox.biola.edu/styles/images/wrappertitlebg.png) 0 0 repeat-x;
	border-bottom: 3px solid #141E36;
	min-width: 940px;
}
 
#branding
{
  float: left;
	height: 65px;
	padding: 0 80px 0 10px;
	margin: 0 auto;
	width: auto;
	position: relative;
}
/*#wrapperContent { background: #81A0DF url(https://dropbox.biola.edu/styles/images/contentbg.png) 0 0 repeat-x; }*/
#content {float:none; margin:0px auto; padding:20px 10px; width:940px;text-align: left;}
#contentMain { 
  background: #FFF; 
  -webkit-border-radius: 8px; -moz-border-radius: 8px; 
  -webkit-box-shadow: 0 3px 3px #000; -moz-box-shadow: 0 3px 3px #000; }
#contentMain { float: left; padding: 20px; margin-right: 20px; position: relative; width: 610px;}
#contentExtra { float: left; padding-top: 20px; position: relative; width: 270px;}
/*
#siteTitle a 
{
	filter: Shadow(Color=#000000, Direction=135, Strength=3);
	text-shadow: black 3px 3px 3px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24pt;
	font-family: Palatino, 'Palatino Linotype', fantasy, "Helvetica Neue", Arial, Helvetica,sans-serif;
	margin-top: 20px;
	white-space: nowrap;
	display: inline-block;
	font-weight: 700;
}
*/
#siteTitle a { display: block; height: 0; width: 460px; padding-top: 68px; overflow: hidden; float: left; background: url(../images/apps-logo.png) 10px 10px no-repeat; margin-right: 180px; }
.page-title { display: none; }
/*
profile { float: left; margin-top: 10px; width: 200px; padding: 5px 10px; height: 40px; background-color: #141E36; -webkit-border-radius: 6px; -moz-border-radius: 6px; }
*/
#profile
{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	width: 200px;
	padding: 5px 10px;
	height: 40px;
	background-color: #141E36;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
#profile img { } 
#profile_photo { float: left; margin-right: 20px; } 
#profile_photo img { display:block; height:40px; width:33px; background-image:url(../images/default_avatar-small.png); text-indent:-99999px; }
#profile_name { 
  float: left; 
  font: 12px/40px "Helvetica Neue",Arial,Helvetica,sans-serif; 
  color: #7493D1; } 
#profile_name a{ color: #7493D1;}
#logout { width: 60px; text-align: center; margin: 0 20px; float: right; } 
#logout a { color: #FFF; font: 12px/68px "Helvetica Neue",Arial,Helvetica,sans-serif; }
#active_term { padding: 5px 10px; width: 180px; margin: 20px 10px;} 

#active_term label { color: #FFF; }

#wrapperMessage { background: #ffefaa; }
#message { display: block; }
#message p { padding: 6px 10px 6px 30px !important; text-align: center; color: #8DC422; line-height: 1.4em; font-size: 1.2em; font: "Helvetica Neue",Arial,Helvetica,sans-serif; }
#message a { color: #7493D1; }

#navExtra { position: absolute; top: 124px; left: 50%; margin-left: 250px; width: 220px; }
#navExtra li { list-style: none; float: right; }
#navExtra li a { font-size: 12px; padding-left: 28px; padding-right: 10px; }
 
.page-title { margin-bottom: 10px; color: #141E36; }
 
#welcome_msg p, #welcome_msg ul, #welcome_msg li, #welcome_msg strong { font-size: 10pt; }
#welcome_msg p { margin-top: 10px; }
#welcome_msg li { margin-left: 30px; }
#textarea-eula { width: 100%; height: 300px; font-size: 9pt; margin-top: 10px; }
#eula-accept { margin-left: 370px; margin-top: 10px; }
body#page_welcome { display: none; }
body#page_welcome .page-title, body#page_feedback .page-title, body#page_eula .page-title { display: block; }
 
#admin textarea { width: 194px; height: 200px; }
 
body#page_feedback #contentMain { font-size: 10pt; }
body#page_feedback .field { margin-top: 10px; }
body#page_feedback input, body#page_feedback textarea { width: 100%; }
body#page_feedback textarea { height: 200px; }
 
#nav_doc { background: url(https://dropbox.biola.edu/styles/images/docs.png) 9px 50% no-repeat; }
#nav_feedback { background: url(https://dropbox.biola.edu/styles/images/comment.png) 9px 50% no-repeat; }
body#page_files #nav_files, body#page_admin #nav_admin { background: url(https://dropbox.biola.edu/styles/images/navselect_white.png) 50% 100% no-repeat; }
body#page_trash #nav_trash { background: url(https://dropbox.biola.edu/styles/images/navselect_brown.png) 50% 100% no-repeat; }
body#page_doc #nav_doc { background: url(https://dropbox.biola.edu/styles/images/navselect_white.png) 50% 100% no-repeat; }
 
/* admin styles */ 
#maintenance-mode { font-size: 12pt; background-color: #FFA0A0; border-bottom: 1px solid red; padding-top: 5px; padding-bottom: 5px; color: black; text-align: center; }
 
/* LOGIN */
#page_login #siteTitle a { width: 100%; background-position: 245px 10px; }
#page_login #content { padding: 0; }
#page_login #contentMain { width: 420px; float: none; margin: 0px auto; -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0; -moz-border-radius: 0 0 8px 8px; background-color: #141E36; color: #FFF; font-size: 12px; text-align: center; -webkit-box-shadow: 0px 1px 3px #000; }
#page_login #contentMain p { color: #fff; }
#page_login div.field { width: 200px; margin: 8px 20px 4px 0; float: left; }
#page_login div.even { margin-right: 0; }
#page_login div.full { float: none; width: 100%; clear: both; padding-top: 8px; }
#page_login label { display: block; color: #7493D1; text-align: center; font-size: 11px; margin-bottom: 4px; }
#page_login div.full label { display: inline-block; margin-right: 10px; }
#page_login input.text, #page_login input.password { font-size: 13px; padding: 2px 0; width: 100%; }
#page_login div#submit { margin-top: 10px; }
 
#legal { clear: both; width: 600px; margin: 0 auto; padding: 2em 110px 2em 0; font-size: 11px; text-align: center; color: #7493D1; line-height: 22px; position: relative; }
#legal a { color: #FFF; padding-left: 10px; }
#ithelpdesk { display: block; position: absolute; left: 50%; margin-left: 58px; top: 21px; height: 0; padding-top: 22px; overflow: hidden; width: 99px; background: url(https://dropbox.biola.edu/styles/images/it_logo.png) 10px 0px no-repeat; }
 
.clear { height: 1px; width: 100%; clear: both; }
.html_error { font-size: 10pt; margin-top: 10px; }
 
#copy-dialog #url { width: 270px; margin-right: 10px; }
#copy-dialog #close { padding-left: 5px; padding-right: 5px; }
 
#debug p { padding: 2px; margin-left: 5px; color: white; font-size: 8pt; }
#debug textarea { width: 100%; height: 200px; }
#debug-warning { color: black; background: #F8D57C; text-align: center; font-size: 10pt; padding: 3px; }
