#navigation {
  display: none; }

ul#messages {
  margin-top: 20px;
  border-color: #141e36;
  background-color: #21335a; }
  ul#messages li {
    color: black; }

#wrapperPage #wrapperContent {
  padding-top: 1px;
  width: 460px;
  float: none;
  margin: 40px auto;
  background-color: #141e36;
  color: white;
  font-size: 12px;
  -webkit-box-shadow: 0px 1px 3px black; }
  #wrapperPage #wrapperContent #content h3, #wrapperPage #wrapperContent #content p {
    color: white; }
  #wrapperPage #wrapperContent #content div.field {
    width: 200px;
    margin: 8px 20px 4px 0;
    float: left; }
  #wrapperPage #wrapperContent #content div.even {
    margin-right: 0; }
  #wrapperPage #wrapperContent #content div.full {
    float: none;
    width: 100%;
    clear: both;
    padding-top: 8px; }
  #wrapperPage #wrapperContent #content label {
    display: block;
    color: #7493d1;
    font-size: 11px;
    margin-bottom: 4px; }
  #wrapperPage #wrapperContent #content input.text, #wrapperPage #wrapperContent #content input.password {
    font-size: 13px;
    padding: 2px 0;
    width: 100%; }
  #wrapperPage #wrapperContent #content div.actions {
    clear: both;
    padding-top: 20px;
    text-align: right; }
    #wrapperPage #wrapperContent #content div.actions input[type=submit], #wrapperPage #wrapperContent #content div.actions button, #wrapperPage #wrapperContent #content div.actions a {
      margin-left: 10px; }
