div.thumbnail {
  margin: 0;
  padding: 0;
  width: 336px;
  height: 189px;
  text-align: center; }

div.thumbnail.video {
  background-image: url(../images/video_thumbnail.jpg); }

div.thumbnail img, div.thumbnail .swf {
  width: auto;
  height: auto;
  max-width: 336px;
  max-height: 189px;
  border: none; }

ul.slides {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.slides > li {
    position: relative;
    min-height: 149px;
    margin: 20px 0;
    padding: 20px;
    padding-left: 336px;
    text-align: right;
    border: solid 1px #123357;
    background: #d3e1f0;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0; }
  ul.slides dl, ul.slides dd {
    margin: 0;
    padding: 0; }
  ul.slides dt.title, ul.slides dt.thumbnail, ul.slides dt.actions {
    display: none !important; }
  ul.slides dd.title a {
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none; }
  ul.slides dd.title a:hover {
    text-decoration: underline; }
  ul.slides div.thumbnail {
    border-top: none;
    border-bottom: none;
    border-left: none;
    position: absolute;
    top: 0;
    left: 0; }
  ul.slides dd.actions ul.actions {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: none; }

dl.slide dt.thumbnail {
  display: block;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 336px; }
dl.slide dd.thumbnail {
  position: absolute;
  top: 90px;
  right: 20px;
  width: 336px; }

dd.url a {
  display: block; }

dd.delay input, dd.color input {
  width: 75px !important; }

dd.color, dd.color input {
  display: block;
  width: 75px !important;
  height: 30px;
  border: solid 1px #666666;
  cursor: pointer; }

ul.signs {
  margin: 0;
  padding-left: 10px;
  list-style-type: none; }

form dd.parameters li {
  margin: 5px 0;
  list-style-type: none; }
  form dd.parameters li input[type=text] {
    width: 150px; }
form input.delete {
  display: none; }
form label.delete {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  padding: 0 !important;
  text-indent: 99999px;
  overflow: hidden;
  background-image: url(../images/delete.png);
  cursor: pointer; }
form dd.color {
  border: none;
  cursor: default; }
form a.add_fields {
  padding-left: 20px;
  background: url(../images/add.gif) no-repeat; }

#contentAside .box h2 {
  color: black; }
#contentAside div.schedule {
  display: none; }

.details {
  width: 280px; }
