ul.slides {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.slides li {
    position: relative;
    min-height: 149px;
    margin: 20px 0;
    padding: 20px;
    text-align: right;
    border: solid 1px #123357;
    background: #D3E1F0;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0; }
  ul.slides dl {
    margin: 0;
    padding: 0; }
  ul.slides dt.title, ul.slides dt.thumbnail, ul.slides dt.actions {
    display: none !important; }
  ul.slides dd.title a {
    font-size: 18pt;
    font-weight: bold;
    text-decoration: none; }
  ul.slides dd.title a:hover {
    text-decoration: underline; }
  ul.slides dd.thumbnail {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 336px;
    height: 189px;
    text-align: center;
    border-right: solid 1px #123357; }
  ul.slides dd.thumbnail img, ul.slides dd.thumbnail .swf {
    width: auto;
    height: auto;
    max-width: 336px;
    max-height: 189px;
    border: none; }
  ul.slides dd.actions span.actions {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: none; }

dt.thumbnail {
  display: block;
  float: right !important;
  width: 300px; }

dd.thumbnail img, dd.thumbnail .swf {
  float: right;
  clear: right;
  width: 300px;
  margin: 0 0 10px 10px;
  padding: 1px;
  border: solid 1px #123357; }

dd.url a {
  display: block; }

dd.delay input, dd.color input {
  width: 75px !important; }

dd.color, dd.color input {
  display: block;
  width: 75px !important;
  height: 30px;
  border: solid 1px #666;
  cursor: pointer; }

form dd.color {
  border: none;
  cursor: default; }

ul.signs {
  margin: 0;
  padding-left: 10px;
  list-style-type: none; }

#contentExtra .box h2 {
  color: #000; }
#contentExtra div.schedule {
  display: none; }
