dt.thumbnail {
  display: block;
  float: right !important;
  width: 300px; }

dd.thumbnail img, dd.thumbnail .swf {
  float: right;
  clear: right;
  width: 300px;
  margin: 0 0 10px 10px;
  padding: 1px;
  border: solid 1px #666; }

dd.url a {
  display: block; }

dd.delay input, dd.color input {
  width: 75px !important; }

dd.color, dd.color input {
  display: block;
  width: 75px !important;
  height: 30px;
  border: solid 1px #666;
  cursor: pointer; }

form dd.color {
  border: none;
  cursor: default; }

ul.signs {
  margin: 0;
  padding-left: 10px;
  list-style-type: none; }

#contentExtra .box h2 {
  color: #000; }
#contentExtra div.schedule {
  display: none; }
