.show h2.name {
  margin: 0; }
.show dt.title {
  display: none; }
.show dd.title {
  font-style: italic; }
.show dt.photo {
  display: none; }
.show dd.photo {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 4px;
  border: solid #a2a2a2 1px;
  background: white;
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
.show dd.role {
  display: inline; }
  .show dd.role:after {
    content: ", "; }
  .show dd.role:last-child:after {
    content: ""; }
