* {
  margin: 0;
  padding: 0; }

body {
  font: 9pt Helvetica, Arial, sans-serif; }

h1 {
  height: 1.6em;
  margin: 0 0 22px;
  font: normal 2.8em/1.3 "Palatino", "Palatino Linotype", Georgia, serif;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  color: #333333; }

h2 {
  margin: 0.5em 0 0.4em 0;
  font: 2em/1.2 "Palatino", "Palatino Linotype", Georgia, sans-serif;
  color: #333333; }

h3 {
  margin: 0 0 0.4em 0;
  font: 1.4em/1.2 Helvetica, Arial, sans-serif;
  color: #444444; }

h4 {
  margin: 0 0 0.4em 0;
  font: 1.3em/1.2 Helvetica, Arial, sans-serif;
  color: #666666; }

caption {
  margin: 0 0 1px 0;
  padding: 0.4em 0;
  font: 1.6em/1.4 "Palatino", "Palatino Linotype", Georgia, serif;
  text-align: left; }

img {
  border: none; }

a:link {
  color: #327fcc; }
a:visited {
  color: #293e6d; }
a:hover {
  color: #992211; }
a:active {
  color: black; }

dt {
  font-weight: bold; }

dd {
  margin: 0;
  padding: 0; }
