-form_for(@user) do |f|
  =f.error_messages
  %dl
    %dt=f.label(:username)
    %dl=f.text_field(:username)
    %dt=f.label(:first_name)
    %dl=f.text_field(:first_name)
    %dt=f.label(:last_name)
    %dl=f.text_field(:last_name)
    %dt=f.label(:email)
    %dl=f.text_field(:email)
  .buttons=f.submit('Save')
