-form_for(@user) do |f|
  =f.error_messages
  %dl
    %dt.username=f.label(:username)
    %dl.username=f.text_field(:username)
    %dt.first_name=f.label(:first_name)
    %dl.first_name=f.text_field(:first_name)
    %dt.last_name=f.label(:last_name)
    %dl.last_name=f.text_field(:last_name)
    %dt.email=f.label(:email)
    %dl.email=f.text_field(:email)
  .buttons=f.submit('Save')
