%h2 Edit User Departments

=form_for(@user) do |f|

  %ul.departments.checkbox
    -Department.with_permissions_to(:show).each do |department|
      %li
        =check_box_tag(:department_ids, department.id, @user.departments.include?(department), :name => 'user[department_ids][]')
        =label_tag(:department_ids, department.title)

  .buttons=f.submit 'Save'
