%h1 Users

=form_for(@search, :html=>{:class=>'search'}) do |f|
  =f.label :username_or_first_name_or_last_name_like, 'Search'
  =f.text_field :username_or_first_name_or_last_name_like
  =f.submit 'Search'

.search_results
  =render('users')
      
=render('index_aside')
