%h1=@user.name
%dl
  %dt Username
  %dd=@user.username
  %dt Email
  %dd=mail_to @user.email
=link_to 'Edit', edit_user_path(@user)
=link_to 'Delete', @user, :confirm => 'Are you sure?', :method => :delete
