%h2.name=@user.name

%dl

  %dt.title Title
  %dd.title=@user.title

  %dt.department Department
  %dd.department=@user.department

  %dt.photo Photo
  %dd.photo
    %img{:src=>@user.photo_url, :alt=>@user.name}

  %dt.username Net ID
  %dd.username=@user.username

  %dt.email Email
  %dd.email=mail_to @user.email, @user.email

  %dt.roles Roles
  -@user.roles.each do |role|
    %dd.role=role

=render('shared/action_links', :object=>@user, :exclude=>:view, :include=>:auto_update)

=render('show_aside')
