%div{:class=>"thumbnail #{slide_type(slide)}", :style=>"background-color:##{slide.color};"}
  -if slide.image?
    =image_tag slide_file_url(slide, :preview), :alt=>"#{slide.title} thumbnail"
  -elsif slide.swf?
    .swf
      %object{:type=>'application/x-shockwave-flash', :data=>slide_url(slide), :width=>336, :height=>189}
        %param{:name=>'movie', :value=>slide_url(slide)}
  -elsif slide.video?
    =image_tag "video_thumbnail.jpg", :alt=>"#{slide.title} video"