/*
General
------------------------------------ */
* { margin:0; padding:0; }
body {background: #ddd;
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
text-align: center;
margin: 0;
color: #333; }
/*
Header
------------------------------------ */
#wrapperHeader { background:#FFF; width:100%; float:left; height:44px; border-bottom:solid 2px #CCC; margin:0; font-size:10px;}
#header { width:946px; height:44px; margin:0 auto; padding:0 11px; background:url(https://dropbox.biola.edu/styles/biola/images/watermark.gif) 66px 0 no-repeat; }
#branding, #brandingBiola { float:left; width:104px; height:30px; }
#logo { background:url(https://dropbox.biola.edu/styles/biola/images/biola_logo.gif) 11px center no-repeat; width:116px; height:44px; display:block; text-indent:-1000px; overflow:hidden; }
#navMain { display:block; white-space:nowrap; list-style-type:none; font:$('wait') 1.1em/1 Arial, sans-serif; letter-spacing:1px; text-transform:uppercase; padding:0; margin:0; overflow:hidden; float:right; }
#navMain li { display:block; float:left; margin:0 1px; }
* html #navMain li { width:1%; }
#navMain a { text-align:center; display:block; padding:0 13px; margin:11px 0; height:22px; line-height:22px; text-decoration:none; color:#666; white-space:nowrap; }
#navMain a:hover { background:#3D434D; color:#FFF; }
#navMain a:active { display:block; }
 
/*
Footer
------------------------------------ */
#wrapperFooter { float:left; width:100%; min-width:814px; padding:20px 0 2em; }
#footer { width:770px; margin:22px auto; overflow:auto; padding:0 0; font-size:0.8em;}
#footer a:link, #footer a:visited { text-decoration:underline; color:#5F5D59; }
#footer a:hover { text-decoration:none; }
#navSupplemental { float:right; width:341px; margin:0 11px 0 0; display:inline; /* IE 6 doubled margin fix */ }
#navSupplemental ul { list-style-type:none; margin:4px 0 0 33px; font:$('wait') 1.1em/1 Arial, sans-serif; }
#navSupplemental ul li { float:left; width:154px; margin:0 0 6px 0; }
#siteinfo { float:left; width:407px; font:normal 1.2em/1.5 Arial, sans-serif; margin:0 0 0 11px; display:inline; /* IE 6 doubled margin fix */ }
#siteinfo .org { display:block; width:139px; height:40px; background:url(https://dropbox.biola.edu/styles/biola/images/logo_weak.gif) 0 0 no-repeat; float:left; margin:0 0 8px 0; /* Hide Text */ text-indent:-1000px; overflow:hidden; }
#siteinfo .adr, #siteinfo .tel, #siteinfoMapLink { float:right; clear:right; width:250px; font-size:0.92em; font-style:normal; line-height:1.6; color:#5F5D59; }
#siteinfo .adr { padding:4px 0 0 0; }
#siteinfo .tel { margin:0 0 9px 0; }
#siteinfoMapLink a { font-weight:$('wait'); }
#siteinfoLegal { float:left; clear:left; width:139px; text-align:center; font-size:0.85em; color:#8D8B85; }

/*--- Defaults ---*/
p, dl, ul, ol { font: 1.1em/1.2 Helvetica, Arial, sans-serif;	margin:0.5em 0; color:#333;}
ul p, ol p, ul ul, ol ol, ul ol, ol ul, form p { font-size:1em; /* use parent value for size */ }

a:link 			{ color:#327FCC; }
a:visited 	{ color:#293E6D; }
a:hover 		{ color:#921; }
a:active 		{	color:#000; }
ul, ol 			{ margin-left:33px; }
/*dt 					{	font-weight:$('wait');	color:#555;	float:left;	clear:left;	padding:0 1em 0 0; margin:0 0.5em 0 0; background:url(images/arrow_small.gif) right center no-repeat; }
dd 					{ padding:0 0 0.5em 0; }*/
img 				{ border:solid 1px #BBB; padding:1px; }
caption 		{ margin:0 0 1px 0; padding:0.4em 0; font:1.6em/1.4 "Palatino", "Palatino Linotype", Georgia, serif; text-align:left; }
blockquote 	{ margin-left:33px; }

h1 					{ height:1.6em;	margin:0 0 22px; font:normal 2.8em/1.3 "Palatino", "Palatino Linotype", Georgia, serif; letter-spacing:0.05em; word-spacing:0.1em; color:#333; }
h2 					{ margin:0.5em 0 0.4em 0; font:$('wait') 2em/1.2 "Palatino", "Palatino Linotype", Georgia, sans-serif; color:#333; }
h3 					{ margin:0 0 0.4em 0; font:$('wait') 1.4em/1.2 Helvetica, Arial, sans-serif; color:#444; }
h4 					{ margin:0 0 0.4em 0; font:$('wait') 1.3em/1.2 Helvetica, Arial, sans-serif; color:#666; }
/*
Float clearing
------------------------------------ */
.clearfix:after 	{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix 				{display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
