:ruby
  render_tabnav(:main, :html => {:id=>'navigation', :class=>'tabnav'}) do
    add_tab(:name => 'Dashboard', :link => {:controller => 'dashboard', :action => 'show'})
    add_tab(:name => 'Slides', :link => {:controller => 'slides'})
    add_tab(:name => 'Signs', :link => {:controller => 'signs'})
    add_tab(:name => 'Users', :link => {:controller => 'users'})
  end
