=form_for(@sign) do |f|
  %dl
    %dt.name=f.label(:name)
    %dd.name=f.text_field(:name)
    %dt.title=f.label(:title)
    %dd.title=f.text_field(:title)
    %dt.screen_size Screen Size (WxH)
    %dd.screen_size
      =f.text_field(:width, placeholder: 'width')
      x
      =f.text_field(:height, placeholder: 'height')
    %dt.transition.seconds=f.label(:transition_duration)
    %dd.transition.seconds
      =f.text_field(:transition_duration)
      seconds
    %dt.reload.seconds=f.label(:reload_interval)
    %dd.reload.seconds
      =f.text_field(:reload_interval)
      seconds
    %dt.check_in.seconds=f.label(:check_in_interval)
    %dd.check_in.seconds
      =f.text_field(:check_in_interval)
      seconds
    %dt.owner=f.label(:department_id, 'Department')
    %dd.owner=f.collection_select(:department_id, Department.with_permissions_to(:show), :id, :title)
    %dt.on_off On From
    %dd.on_off
      =f.text_field(:on)
      to
      =f.text_field(:off)
    %dt.email_on_error=f.label :email, "Email when sign is down"
    %dd.email_on_error=f.text_field(:email)
  .buttons
    = f.submit('Save')
    = cancel_button
