-content_for(:aside)do
  -if @sign.checked_in?
    %h2 Last Check-In
    %ul.stacked
      %li
        =time_ago_in_words(@sign.last_check_in)
        ago
      %li
        from
        =@sign.last_ip
      
  %h2 Content
  %ul.stacked
    %li
      %em.number=@sign.active_slides.length
      active slides
    %li
      %em.number=@sign.expired_slides.length
      expired slides
    %li
      %em.number=(@sign.active_slides_time / 60)
      minutes of content
