-content_for(:aside)do
  -if @sign.down?
    %h2 Alert Status
    %ul.stacked
      -if @sign.email?
        %li="Sending Alerts to: #{@sign.email}"
        %li=@sign.email_sent ? "Alert sent #{time_ago_in_words(@sign.email_sent)} ago" : "Alert not sent."
      -else
        %li="Not configured for alert emails"

  -if @sign.checked_in?
    %h2 Last Check-In
    %ul.stacked
      %li
        =time_ago_in_words(@sign.last_check_in)
        ago
      %li
        from
        =@sign.last_ip
      
  %h2 Content
  %ul.stacked
    %li
      %em.number=@sign.active_slides.length
      active slides
    %li
      %em.number=@sign.expired_slides.length
      expired slides
    %li
      %em.number=(@sign.active_slides_time / 60)
      minutes of content
