-@slots.each do |slot|
  %li[slot]{'data-edit-url'=>url_for([:edit, @sign, slot]), 'data-show-url'=>slide_url(slot.slide)}
    
    .slide_status= "#{slide_status(slot.slide)}" + (slot.slide.showing? ? " - #{slot.custom_delay}s" : "")

    .preview_wrapper
      -unless slot.slide.published?
        .corner-banner
          unpublished
      =render "shared/thumbnail", slide: slot.slide

      .title_bar
        %h4=slot.slide.title