%h1 Signs
%table
  %tr
    %th Title
    %th Active Slides
    %th Last Check In
  -@signs.each do |sign|
    %tr
      %td=link_to sign.title, sign
      %td
      %td=sign.last_check_in
=link_to 'New sign', new_sign_path
