#top-right-link
  -if permitted_to?(:create, :signs)
    =link_to new_sign_path, :class=>"google_button" do
      %i.icon-plus
      Create New Sign

%h1 Signs

%ul.signs
  -@signs.each do |sign|
    %li[sign] 
      %dl
        .title_bar
          %dt.title Title
          %dd.title=link_to(sign.title, sign_path(sign))
        %dt.thumbnail Preview
        %a{ :href=> sign_path(sign)}
          -if sign.slides.count > 0
            %dd.thumbnail=render(:partial=>'shared/thumbnail', :locals=>{:slide=>sign.slides.first})

.clear