=render 'status_check', :sign => @sign
#top-right-link
  -if permitted_to?(:edit, :signs)
    =link_to edit_sign_path, :class=>"google_button" do
      %i.icon-pencil
      Edit Sign
  -if permitted_to?(:destroy, :signs)
    =link_to @sign, :method => "delete", :class=>"google_button", :confirm=> "Are you sure?" do
      %i.icon-trash
      Delete Sign
%h2
  =link_to "#{@sign.title} Sign", @sign
  ="/ info"
%hr
%dl
  %dt Name
  %dd=@sign.name
  %dt Department
  %dd=link_to @sign.department, @sign.department
  %dt Data Feed URL
  %dd=link_to(sign_url(@sign, :format=>:xml), sign_url(@sign, :format=>:xml))
  %dt Fullscreen Mode
  %dd=@sign.full_screen_mode
  %dt Transition Duration
  %dd
    =@sign.transition_duration
    seconds
  %dt Reload Interval
  %dd
    =@sign.reload_interval
    seconds
  %dt Check-In Interval
  %dd
    =@sign.check_in_interval
    seconds
  %dt Video
  %dd=@sign.video
  %dt Audio
  %dd=@sign.audio
  %dt On From
  %dd
    =@sign.on.try(:to_s,:time) || '?'
    to
    =@sign.off.try(:to_s,:time) || '?'

=render('info_aside')
