!!! XML
%sign{:name=>@sign.name,
      :title=>@sign.title,
      :full_screen_mode=>@sign.full_screen_mode,
      :video=>to_yn(@sign.video),
      :audio=>to_yn(@sign.audio),
      :transition_duration=>@sign.transition_duration,
      :reload_interval=>@sign.reload_interval,
      :check_in_url=>check_in_sign_url,
      :check_in_interval=>@sign.check_in_interval,
      :last_check_in=>@sign.last_check_in.try(:to_s, :rfc822)}
  %slides
    -@slots.each do |slot|
      %slide{:id=>slot.slide.id,
             :title=>slot.slide.title,
             :uri=>slide_url(slot.slide),
             :content_type=>slot.slide.type,
             :delay=>slot.custom_delay,
             :resize=>slot.slide.resize,
             :color=>'#'+slot.slide.color,
             :lastupdate=>(slot.slide.updated_at || slot.slide.created_at).to_s(:rfc822)}
        %schedules
          -if !slot.slide.previous_schedule.nil?
            %schedule{:time=>slot.slide.previous_schedule.time.to_s(:rfc822), :action=>slot.slide.previous_schedule.action}
          -if !slot.slide.next_schedule.nil?
            %schedule{:time=>slot.slide.next_schedule.time.to_s(:rfc822), :action=>slot.slide.next_schedule.action}
