%h1&=@sign.title + ' Sign'
%dl
  %dt Name
  %dd&=@sign.name
  %dt Data Feed URL
  %dd= link_to(sign_url(@sign, :format=>:xml), sign_url(@sign, :format=>:xml))
  %dt Video
  %dd&=@sign.video
  %dt Audio
  %dd&=@sign.audio
  %dt On From
  %dd
    &=@sign.on.try(:to_s,:time) || '?'
    to
    &=@sign.off.try(:to_s,:time) || '?'
=render(:partial=>'shared/action_links', :locals=>{:object=>@sign, :except=>:view})
