#top-right-link
  =link_to [:info, @sign], :class=>"google_button" do
    %i.icon-info-sign
    Info
  =link_to [:edit, @sign], :class=>"google_button" do
    %i.icon-pencil
    Edit

%h1 Slides on the #{@sign.title} Sign
=form_for(@search, :url=>url_for(@sign), :html=>{:class=>'filter'}) do |f|
  %fieldset
    %legend Filter Slides
  
    #slide_options
      =link_to('Show Slide', "#", :id=>"show-slide-button", :class=>"google_button single_slide_button")
      =link_to('Edit Slot', "#", :id=>"edit-slide-button", :class=>"google_button single_slide_button")
      =link_to('Remove', "#", :id=>"remove-slide-button", :class=>"google_button multi_slide_button")
      #thumb_size_slider

    %span.param
      =f.label :published_eq, 'Published'
      =f.select :published_eq, [['Published', 1], ['Unpublished', 0]], {:include_blank=>true}
    .buttons=f.submit 'Filter'


%ol.slots.search_results
  =render 'slots'