!!! XML
%sign{:name=>@sign.name,
      :title=>@sign.title,
      :full_screen_mode=>@sign.full_screen_mode,
      :video=>to_yn(@sign.video),
      :audio=>to_yn(@sign.audio),
      :transition_duration=>@sign.transition_duration,
      :reload_interval=>@sign.reload_interval,
      :check_in_url=>check_in_url,
      :check_in_interval=>@sign.check_in_interval,
      :last_check_in=>@sign.last_check_in.try(:to_s, :rfc822)}
  %slides
    -@sign.slots.map(&:slide).each do |slide|
      -if !slide.expired? && slide.published
        %slide{:id=>slide.id,
               :title=>slide.title,
               :uri=>slide.uri,
               :content_type=>slide.type,
               :delay=>slide.delay,
               :resize=>slide.resize,
               :color=>'#'+slide.color,
               :lastupdate=>(slide.updated_at || slide.created_at).to_s(:rfc822)}
          %schedules
            -if !slide.previous_schedule.nil?
              %schedule{:time=>slide.previous_schedule.time.to_s(:rfc822), :action=>slide.previous_schedule.action}
            -if !slide.next_schedule.nil?
              %schedule{:time=>slide.next_schedule.time.to_s(:rfc822), :action=>slide.next_schedule.action}
