.search.summary=page_entries_info(documents, :entry_name=>'document')

%table
  %tr
    %th.name Name
    %th.content Content
    %th.tags Tags
  -documents.each do |document|
    %tr
      %td.name=link_to(document.name, document_path(document))
      %td.content
        %p=document.text_content[0..100]
      %td.tags
        %ul.tags
          -document.tag_array.each do |tag|
            %li=link_to(tag, {:controller=>'documents', :tag=>tag})
            
=paginate(documents)
