=render('shared/wysiwyg')

-form_for(@document) do |f|
  %dl
    %dt.name!=f.label :name
    %dd.name!=f.text_field :name
    %dt.slug!=f.label :slug
    %dd.slug!=f.text_field :slug
    %dt.tags!=f.label :tags
    %dd.tags!=f.text_field :tags
    %dt.content!=f.label :content
    %dd.content!=f.text_area :content
  .buttons!=f.submit 'Save'
