/*= require bootstrap
/*= require font-awesome
/*= require redactor
/*= require_self
/*= require_tree ./resources

/*   Table of Contents
 *
 *    1.0 -
 */


body { margin-top: 70px; }

#page_wrapper { margin: 20px; }

.new_form_dropdown .dropdown-menu { min-width: 250px; }
.no-top-padding { margin-top: 5px; padding-top: 0; }

.if-active { display: none; }
.active .if-active { display: inline-block; }
