/*= require bootstrap
/*= require font-awesome
/*= require redactor
/*= require_self
/*= require_tree ./resources

/*   Table of Contents
 *
 *    1.0 -
 */


body { margin-top: 70px; }

#page_wrapper { margin: 20px; }

.new_form_dropdown .dropdown-menu { min-width: 250px; }
.no-top-padding { margin-top: 5px; padding-top: 0; }

.if-active { display: none; }
.active .if-active { display: inline-block; }

.mini_form { margin: 15px; }  // dropdown form in top right cornder


// Prevent navbar from collapsing
.navbar-nav { float: left; margin: 0; }
.navbar-nav > li { float: left; }
.navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; }
.navbar-right { float: right !important; }
.navbar-nav .open .dropdown-menu { position: absolute; background-color: #ffffff; border: 1px solid #cccccc; border: 1px solid rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
.navbar-right .dropdown-menu { right: 0; left: auto; }