%h2 Configuration

%span.actions
  =link_to('Reload Config', reload_configuration_info_index_path, { :class=>'auto_update', :title=>"Reload configuration from file" })

#wrapperConfig=@config.to_html

%span.actions
  =link_to('Reload Config', reload_configuration_info_index_path, { :class=>'auto_update', :title=>"Reload configuration from file" })
