%h2 Configuration

%ul.actions
  %li=link_to('Reload Config', reload_configuration_info_index_path, { :class=>'auto_update', :title=>"Reload configuration from file" })

#wrapperConfig=@configuration.to_html

%ul.actions
  %li=link_to('Reload Config', reload_configuration_info_index_path, { :class=>'auto_update', :title=>"Reload configuration from file" })
