#wrapperBiolaFooter
  #biola-footer
    #navBiolaSupplemental
      %ul
        %li
          %a(href="http://www.biola.edu/contact/") Contact Biola
        %li
          %a(href="http://www.biola.edu/request/") Request Admission Info
        %li
          %a(href="http://www.biola.edu/library/") Library
        %li
          %a(href="http://www.biola.edu/donations/") Giving to Biola
        %li
          %a(href="http://www.biola.edu/hr/") Employment
        %li
          %a(href="http://www.biola.edu/news/press/") Press Room				
    #siteinfo
      #siteinfoContact.vcard
        .org.fn Biola University
        #biola-address.adr
          %span.street-address 13800 Biola Ave.
          %span.locality La Mirada
          ,
          %span.region CA
          %span.postal-code 90639
        .tel 1-562-903-6000
      #siteinfoMapLink
        %a(href="http://www.biola.edu/maps/") Maps &amp; Directions
      #siteinfoLegal
        %a(href="http://www.biola.edu/copyright/") &copy; 1996-2010 Biola University
  =link_to(AppConfig.developer.title, AppConfig.developer.homepage, :class=>'developer')
